@charset "utf-8";

body{
    margin: 0px;
    background-color: rgb(32, 76, 135);
    color: white;
    font: normal 20pt Arial;
}

main{
    margin: 50px  auto;
    width: 500px;
}
h1{
    text-align: center;
    color: yellow;
}
p{
    text-align: center;
}